<div data-controller="counter">
  <p data-counter-target="output">Count: 0</p>
  <button data-action="click->counter#increment">Increment</button>
  <button data-action="click->counter#decrement">Decrement</button>
</div>
